.error{
    background-color: red;
}

.done{
    background-color: limegreen;
}

body {

    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    background: #f9f9f9;
}

#list {

  overflow: hidden;
  display: table;
}

.comment {
  color: #999;
}

.post {
        text-align: center;
        /*font-size: 2em;*/
        height: 7em;
        border-width: 1px;
        border-style: solid;
        border-color: #ddd;
        transition: transform 0.3s, opacity 0.3s 0.3s, border-color 0.3s 0.3s;
        background: #fff;
        margin: 5px;
        padding: 1.5em;
}

.post:hover {
          background: #efefef;
        }

#posts{
  background-color: #fff;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
}

#addPost{
  background-color: #FF9800;
  color: #fff;
  padding: 1.5em;
}
#addPost:hover{
  background-color: #fff;
  color: #FF9800;
}

a{
  color: #212121;
  text-align: center;

}
a:hover{
  text-decoration: none;
  color: #000;
}
a:visited{
  color: #212121;
  text-align: center;
  text-decoration: none;
}
a:visited{
  color: #212121;
  text-align: center;
  text-decoration: none;
}

div.row{
  margin-top: 60px;
}
